<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    Seja bem vindo

    <br><br>

    Entrar:
    <br>

    <a href="cad_pessoa">Cadastrar Pessoa</a><br><br>

    <a sec:authorize="hasRole('ROLE_ADMIN')" href="admin">ADMIN</a><br><br>

    <a sec:authorize="hasRole('ROLE_USER')" href="user-comum">USUÁRIO COMUM</a><br><br>

    <a sec:authorize="isAuthenticated()" href="user-comum">Qualquer um autenticado</a><br><br>
</body>
</html>